---
layout: default
title: Home
---

<!--<div class="homebg"></div>-->
<!--<div class="title">
	hamishl
</div>-->

<!--<div style="text-align:left;margin-left:2em">
  
  <h1 id="heading">About</h1>
  <p>
    This site is where I collect notes from books I've read, lessons I've
    learnt, and generally record my philosophy of life.
  </p>
  <br />
  <p>IBMer currently working between London (UK) and Pune (India).</p>
  <br />
</div>-->

<div class="hero">
  <div class="hero-text">
    <p id="heading">Notes on books, travel, coding, and automation</p>
    <p style="font-size: 1.25em">The personal site of <b>Hamish Leith</b>, currently delivering Intelligent Automation at Ciklum. Previously IBM.</p>  
  </div>
  <div class="hero-img"></div>
</div>

<div class="title">
  <div id="filters" class="button-group"><b>Filters</b>
    <button class="button all is-checked" data-filter="*">All</button>
    <button class="button mindset" data-filter=".mindset">Mindset</button>
    <button class="button people" data-filter=".people">People</button>
    <button class="button finance" data-filter=".finance">Finance</button>
    <button class="button business" data-filter=".business">Business</button>
    <button class="button fiction" data-filter=".fiction">Fiction</button>
    <button class="button health" data-filter=".health">Health</button>
    <!--<button class="button" data-filter=".posts">Posts</button>-->
    <!--<button class="button" data-filter="ium">name ends with &ndash;ium</button>-->
  </div>

  <div id="sorts" class="button-group">
    <b>Sort by</b>
    <button class="button sort is-checked" data-sort-by="score">Score</button>
    <button class="button sort " data-sort-by="title">Title</button>
    <button class="button sort" data-sort-by="author">Author</button>
    <button class="button sort" data-sort-by="topic">Topic</button>
    <button class="button sort" data-sort-by="date">Date</button>
    
  </div>
</div>

<div class="grid">
  <div class="grid-sizer"></div>
  {% assign book_count = '' %}
  {% assign items = site.books | sort: 'score' | reverse %} {% for item in items
  %}
  {% assign book_count = book_count | append: 'x' %}
  <div class="card {{ item.topic }} {{ item.size }}">
    <a class="ind" href="{{ item.url }}">
      <div class="cover cover-{{ item.topic }}">
        <img src="/images/{{ item.cover }}" />
      </div>
      <div class="padding">
        <h2 class="card-title">{{ item.title }}</h2>
        <p class="card-text">{{ item.author }}</p>
        <p class="card-topic">
          <a class="{{ item.topic }}">{{ item.topic }}</a>
        </p>
        <p class="score">{{ item.score }}</p>
        <a class="date" style="display:none">{{ item.date }}</a>
      </div>
    </a>
  </div>

  {% endfor %}
  <!--<span style="color:#CCC">Count = {{ book_count.size }}</span>-->
</div>

<!-- 
<div class="title" style="text-align:left;margin-left:2em">
  <h1 id="heading">Posts</h1>
</div>

<div class="grid2">
  <div class="grid-sizer"></div>
  {% assign items = site.posts | sort: 'score' | reverse %} {% for item in items
  %}
  <div class="card  {{ item.size }}">
    <a class="ind" href="{{ item.url }}">
      <div class="cover cover-{{ item.topic }}">
          {% if item.cover != "null.png" %}
            <img src="/images/{{ item.cover }}" style="width:100%" />
          {% endif %}
      </div>
      <div class="padding">
        <h2 class="card-title">{{ item.title }}</h2>
        <p class="card-topic">
          <a class="{{ item.topic }}">{{ item.topic }}</a>
        </p>
      </div>
    </a>
  </div>

  {% endfor %}
</div> -->

<style>
  #sidebar-button {
    display: none;
  }
</style>
