<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>+ {{ page.title }} +</title>
      <meta name="viewport" content="width=device-width">

      <!-- ICONS -->
      <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
      <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">

      <!-- CSS -->
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!-- jQuery and Isotope -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
       <script src="/scripts/isotope.pkgd.min.js"></script>
       <script src="/scripts/isotope.js"></script>

  </head>
  <body>

    <div class="site">
      
      <div class="navbar">
        <div class="logo">
          <a href="/"><i class="material-icons md-48">&#xE867;</i></a>
        </div>
      </div>

      <div class="main">
      <!-- Main Content -->
        {{ content }}
      </div>

    </div>
  </body>
</html>
